<!--condition to check that we have a checkout form and assigning formgroup-->
<div class="mt-4" *ngIf="checkoutForm" [formGroup]="checkoutForm">
    <div class="d-flex justify-content-between align-items-center">
        <h4>Shipping Address</h4>
        <button class="btn btn-outline-success mb-3"
        (click)="saveUserAddress()"
        [disabled]="!checkoutForm.get('addressForm')?.valid ||
         !checkoutForm.get('addressForm')?.dirty">
            Save as default address
        </button>
    </div>
        <!--addressForm is the name of the form group for address defined in checkout component-->
        <div class="row" formGroupName="addressForm">
            <div class="form-group col-6">
                <!--single quotes to pass as string, 
                    formcontrolname should match from name defined in checkout component-->
                <app-text-input [label]="'First Name'" formControlName="firstName"></app-text-input>
            </div>
            <div class="form-group col-6">
                <app-text-input [label]="'Last Name'" formControlName="lastName"></app-text-input>
            </div>
            <div class="form-group col-6">
                <app-text-input [label]="'Street'" formControlName="street"></app-text-input>
            </div>
            <div class="form-group col-6">
                <app-text-input [label]="'City'" formControlName="city"></app-text-input>
            </div>
            <div class="form-group col-6">
                <app-text-input [label]="'State'" formControlName="state"></app-text-input>
            </div>
            <div class="form-group col-6">
                <app-text-input [label]="'Zip code'" formControlName="zipcode"></app-text-input>
            </div>
        </div>
</div>

<!--adding forward and backward buttons for stepper-->
<div class="d-flex justify-content-between flex-row mb-5">
    <button class="btn btn-outline-primary" routerLink="/basket">
        <i class="fa fa-angle-left"></i>Back to basket
    </button>
    <!--using cdkstepper option as we are inside cdk-step
    disabling button if form is not filled correctly-->
    <button [disabled]="checkoutForm?.get('addressForm')?.invalid" class="btn btn-primary" cdkStepperNext>
        Go to Delivery<i class="fa fa-angle-right"></i>
    </button>
</div>